<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" href="../static/css.css">
</head>
<body>
<div>
    <h1 class="top_h1">电影票房TOP<span id="number">10</span></h1>
    <h3 class="top_h3">总票房:<span id="num"></span><span id="unit"></span>
        <span class="span_time">北京时间 <span id="year"></span> <span id="time"></span></span>
    </h3>
</div>
<div id="pe"></div>
</body>
<script src="../static/js/controller.js"></script>
<script src="../static/js/zhe.js"></script>
</html>